@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./amg_img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.hidden {
  display: none;
}

.btn {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  user-select: none;
  cursor: pointer;
}
.show-btn {
  background: #474b4f;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.5s;
}

.show-btn:hover {
  background-color: #3a3d40;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.modal {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background-color: cornsilk;
  padding: 15px;
  border-radius: 8px;
  z-index: 100;
  transition: all 0.3s;
}

.modal:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close-btn {
  border: 0;
  color: #000;
  font-size: 20px;
}

.modal-title {
  margin-bottom: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
